:root {
  --gradient: linear-gradient(
    45deg,
    #8455ec,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  )
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
* {
  padding: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #16161a;
}

.container {
  margin: 0 auto;
  position: relative;
  min-height: 92%;
  /* max-width: 1040px; */
  /* min-height: 1288px; */
}

h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bolder;
  letter-spacing: 1.5px;
  background-image: var(--gradient);
  /* background-clip: text; */
  -webkit-background-clip: text;
  line-height: 1.2;
  padding: 20px;
  color: transparent;
  background-size: 400%;
  animation: bg-animation 20s infinite alternate;
}

.paragraph-box {
  position: relative;
  z-index: 10;
}

.paragraph {
 text-align: center;
 padding: 50px;
 font-size: 20px;
 color: #010101;
}

.header {
  display: flex;
}

.title-box {
  background: #16161a;
  width: 20rem;
  padding: 0.1em;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.20)
}

.label {
  color: rgba(255, 255, 255, 0.842);
  font-weight: bold;
  line-height: 1rem;
  font-size: 20px;
  margin-bottom: 1em;
}

.form {
  margin-top: 22px;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.20);
}

.grid {
  position: relative;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2vmin;
  grid-auto-flow: dense;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.grid-item img:hover {
  opacity: 0.4;
}

.grid-item:first-child {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.grid-item:nth-child(2n + 3) {
  grid-row-start: span 2;
}

.grid-item:nth-child(4n + 5) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.grid-item:nth-child(6n + 7) {
  grid-row-start: span 1;
}

.grid-item:nth-child(8n + 9) {
  grid-column-start: span 1;
  grid-row-start: span 1;
}

.grid-item img {
  height: 100%;
  width: 100%;
  object-fit: unset;
  cursor: pointer;
}
.grid-item img:hover {
  opacity: 0.4;
  transition: ease-in-out;
}
.searchBox {
  background: #16161a;
  padding-right: 5px;
  width: 100%;
}

.search {
  background: rgba(69, 63, 148, 0.25);
border: 1px solid transparent;
  color: #fff;
/* background-color: transparent; */
  font-weight: normal;
  padding: 10px;
  /* min-height: 30px; */
  letter-spacing: 1px;
  font-size: 18px;
  width: -moz-available;
  width: 40vw;;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.9;
  border-radius: 3px;
}

.search:hover {
  opacity: 1;
  transition: 0.5s ease-in;
}

.button {
  height: 50px;
  width: 50px;
}

.noResultsMsg {
  text-align: center;
  position: relative;
}

.icecream-image {
  background-image: url("./images/icecream.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  display: block;
  background-position: 50% 50%;
}

.remove {
  display: none;
  height: 0;
  width: 0;
  overflow: hidden;
}

.clip {
  clip-path: polygon(0 0, 100% 0, 100% 71%, 0 100%);
  background-image: var(--gradient);
  background-size: 400%;
  height: 40vh;
  opacity: 0.8;
  animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.grid,
.intro,
.icecream-image {
  transition: 0.5s;
  overflow: hidden;
}

.message {
  color: black;
  height: 0;
  font-size: 1.8em;
  opacity: 0.7;
  transition: 0.5s;
}

.transition {
  transition: ease-in 2s;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  /* top: 50%;
  left: 50%; */
  display: inline-flex;
  /* transform: translate(-50%, -50%); */
  animation: bounce-2 0.9s ease-in-out infinite;
}

.circle:nth-child(1) {
  background-color: #256eff;
  animation-delay: 0.15s;
}
.circle:nth-child(2) {
  background-color: #eac4d5;
  animation-delay: 0.25s;
}
.circle:nth-child(3) {
  background-color: #fffd77;
  animation-delay: 0.35s;
}
.circle:nth-child(4) {
  background-color: #f26419;
  animation-delay: 0.45s;
}

.animation {
  margin: 0 auto;
  max-height: 150px;
  max-width: 150px;
  text-align: center;
}

@keyframes bounce-2 {
  0% {
    transform: translateY(0);
    /* transform: rotate(0deg); */
  }
  50% {
    transform: translateY(-45px);
    /* transform: rotate(360deg); */
  }
  100% {
    transform: translateY(0);
  }
}

/* MODAL */
.container#blur.active {
  filter: blur(20px);
  pointer-events: none;
  /* user-select: none; */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  z-index: 10;
  margin: 0 auto;
}

.modal-image {
  z-index: 20;
  object-fit: contain;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-height: 500px;
  padding: 40px 0; 
}

.modal.active {
  display: block;
  transition: 0.5s;
}

.model.on {
  display: block;
  transition: 0.5s;
}


.modal-controls div{
  position: absolute;
  top: 50%;
  height: 40px;
  width: 800px;
  text-align: center;
}

.leftArrow {
  display: block;
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  position: absolute;
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translateY(50%);
  z-index: 13;
  cursor: pointer;
}

.rightArrow {
  left: 90%;
  z-index: 13;
  transform: translateY(50%);
  background-color: whitesmoke;
  position: fixed;
  top: 50%;
  display: block;
  width: 50px;
  height: 50px;
  transform: translateY(50%);
}

.footer {
  position: relative;
  /* clear: both; */
  margin: 0;
  padding: 0;
}

.giphy-img {
  width: 100px;
  height: 40px;
}

/* .gif {
  width: 20rem;
  height: 20rem;
  padding: 40px;
  justify-content: end;
} */

.introgifs {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.profile_url {
  position: relative;
  z-index: 10;
}