* {
  padding: 0;
  font-family: "nexablack", sans-serif;
  background-color: #130a14;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 1040px;
  min-height: 1288px;
}

.type {
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 1.5px;
  color: rgba(255, 255, 255, 0.842);
}

h1 {
  text-align: center;
  font-size: 2.8em;
  font-weight: 800;
  letter-spacing: 1.5px;
  color: rgba(255, 255, 255, 0.842);
  line-height: 1.2;
}

.underline {
  text-decoration: underline;
  color: #a8dbee;
}

.label {
  color: rgba(255, 255, 255, 0.842);
  margin-bottom: 1em;
}
.form {
  margin-top: 5px;
  margin-bottom: 2em;
}

.searchBox {
  width: 90%;
  margin: 0 auto;
}

.grid {
  position: relative;
  height: auto;
  /* width: 90%; */
  margin: auto;
  /* padding: 45px 0; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2vmin;
  grid-auto-flow: dense;
}

.grid-item img {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.grid-item:first-child {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.grid-item:nth-child(2n + 3) {
  grid-row-start: span 2;
}

.grid-item:nth-child(4n + 5) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.grid-item:nth-child(6n + 7) {
  grid-row-start: span 1;
}

.grid-item:nth-child(8n + 9) {
  grid-column-start: span 1;
  grid-row-start: span 1;
}

.grid-item img {
  height: 100%;
  width: 100%;
  object-fit: unset;
}

.searchBox {
  margin: 0 auto;
  width: 1040px;
}

.search {
  background-color: rgb(255, 255, 255);
  font-weight: normal;
  padding: 15px;
  min-height: 25px;
  letter-spacing: 1px;
  font-size: 18px;
  width: 100%;
}

.searchBarTitle {
  display: flex;
  letter-spacing: 2px;
}

.hide {
  background-color: red;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
}

.noResultsMsg {
  text-align: center;
  position: relative;
}

.banana {
  background-image: url("ice.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  /* margin-top: 3em; */
  display: block;
  background-position: 50% 50%;
}

div.ramama {
  height: 0px;
  padding: 0px;
  opacity: 0;
}

.intro {
  background-image: url("color.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  background-position: 50% 50%;
}

.grid,
.intro,
.banana {
  transition: 0.5s;
  overflow: hidden;
}

.message {
  color: black;
  height: 0;
  font-size: 1.8em;
  opacity: 0.7;
  transition: 0.5s;
}

/* FADE IN */

.fade-in {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
