@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@900&display=swap");
* {
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #130a14;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 1040px;
  min-height: 1288px;
}

.type {
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 1.5px;
  color: rgba(255, 255, 255, 0.986);
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 2.8em;
  font-weight: 2000;
  letter-spacing: 1.5px;
  color: rgba(255, 255, 255, 0.986);
  line-height: 1.2;
  opacity: 0.8;
}

.underline {
  text-decoration: underline;
  color: #a8dbee;
}

.label {
  color: rgba(255, 255, 255, 0.842);
  margin-bottom: 1em;
}
.form {
  margin-top: 5px;
  margin-bottom: 2em;
}

.searchBox {
  width: 90%;
  margin: 0 auto;
}

.grid {
  position: relative;
  height: auto;
  /* width: 90%; */
  margin: auto;
  /* padding: 45px 0; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2vmin;
  grid-auto-flow: dense;
  margin-bottom: 60px;
}

/* .grid-item img {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
} */

.grid-item img:hover {
  opacity: 0.4;
}

.grid-item:first-child {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.grid-item:nth-child(2n + 3) {
  grid-row-start: span 2;
}

.grid-item:nth-child(4n + 5) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.grid-item:nth-child(6n + 7) {
  grid-row-start: span 1;
}

.grid-item:nth-child(8n + 9) {
  grid-column-start: span 1;
  grid-row-start: span 1;
}

.grid-item img {
  height: 100%;
  width: 100%;
  object-fit: unset;
  cursor: pointer;
}
.grid-item img:hover {
  opacity: 0.4;
  transition: ease-in-out;
}
.searchBox {
  margin: 0 auto;
  width: 1040px;
}

.search {
  background-color: rgb(255, 255, 255);
  font-weight: normal;
  padding: 15px;
  min-height: 25px;
  letter-spacing: 1px;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.8;
}

.search:hover {
  opacity: 1;
  transition: 0.5s ease-in;
}

.searchBarTitle {
  display: flex;
  letter-spacing: 2px;
}

.hide {
  opacity: 0;
}

.noResultsMsg {
  text-align: center;
  position: relative;
}

.banana {
  background-image: url("ice.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  /* margin-top: 3em; */
  display: block;
  background-position: 50% 50%;
}

div.ramama {
  height: 0px;
  padding: 0px;
  opacity: 0;
}

.intro {
  background-image: url("color.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  background-position: 50% 50%;
}

.grid,
.intro,
.banana {
  transition: 0.5s;
  overflow: hidden;
}

.message {
  color: black;
  height: 0;
  font-size: 1.8em;
  opacity: 0.7;
  transition: 0.5s;
}

.transition {
  transition: ease-in 2s;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  /* top: 50%;
  left: 50%; */
  display: inline-flex;
  /* transform: translate(-50%, -50%); */
  animation: bounce-2 0.9s ease-in-out infinite;
}

.circle:nth-child(1) {
  background-color: #256eff;
  animation-delay: 0.15s;
}
.circle:nth-child(2) {
  background-color: #eac4d5;
  animation-delay: 0.25s;
}
.circle:nth-child(3) {
  background-color: #fffd77;
  animation-delay: 0.35s;
}
.circle:nth-child(4) {
  background-color: #f26419;
  animation-delay: 0.45s;
}

.remove {
  display: none;
  height: 0;
  width: 0;
  overflow: hidden;
}

.box {
  margin: 0 auto;
  max-height: 150px;
  max-width: 150px;
  text-align: center;
}

/* @keyframes fadeIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@keyframes bounce-2 {
  0% {
    transform: translateY(0);
    /* transform: rotate(0deg); */
  }
  50% {
    transform: translateY(-45px);
    /* transform: rotate(360deg); */
  }
  100% {
    transform: translateY(0);
  }
}

/* MODAL */
.container#blur.active {
  filter: blur(20px);
  background-color: linear-gradient(
    to bottom,
    rgba(228, 39, 39, 0) 0%,
    rgba(60, 211, 178, 0.65) 100%
  );
  pointer-events: none;
  user-select: none;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
  background-color: rgba(0, 0, 0);
  z-index: 10;
  opacity: 1;
}

.modal.active {
  display: block;
  opacity: 1;
  transition: 0.5s;
}
.modal-content {
  position: inherit;
  margin: auto;
  height: 100%;
  width: 100%;
  grid-column-start: span 2;
  grid-row-start: span 4;
}
.close-btn {
  float: right;
  color: lightgray;
  font-size: 24px;
  font-weight: bold;
}
.close-btn:hover {
  color: darkgray;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
